extends ../../layout

block content
  .content-wrapper
    //- Content Header (Page header)
    section.content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1 Laporan Barang Keluar
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='#') Home
              li.breadcrumb-item.active Laporan Barang Keluar
      //- /.container-fluid
      //- Main content
      section.content
        //- Default box
        .card
          .card-header
            h3.card-title Laporan Barang Keluar
            .card-tools
              a.btn.btn-tool(href='/admin/laporan/barang-keluar/faktur/' + from + '/' + to data-toggle="tooltip" title='Print to PDF' target="_blank")
                i.fas.fa-print
          .card-body.table-responsive
            .row
              .form-group.col-sm-2
                label Dari : 
                input.form-control#from(type="date" value=from max=max)
              .form-group.col-sm-2
                label Sampai : 
                input.form-control#to(type="date" value=to max=max)
              .form-group.col-sm-2(style="place-self:flex-end")
                button.btn.btn-primary#go(onclick="go()") Search
            table.table.table-hover.table-bordered.table-stripped.datatable
              thead
                tr
                  th(width="1%") No
                  th Nama Pengirim
                  th Nama Penerima
                  th Barang
                  th Jenis
                  th S/N
                  th Area
                  th Jumlah Masuk
                  th Keterangan
                  th status
                  th Tanggal
              tbody

block script
  script.
    $(document).ready(function() {
      getData()
    })

    $('#go').click(function(e) {
      e.preventDefault();
      var obj = $(this);
      var from = $('#from').val()
      var to = $('#to').val()

      document.location = '/admin/laporan/barang-keluar/' + from + '/' + to
    })

    function getData() {
      get({
        url: '/admin/laporan/barang-keluar/datalist/#{from}/#{to}',
        isLoading: true
        }, function(response) {
          console.log(response)
          loading(false)
          var no = 1;
          var table = $('.table').find('tbody')
          var content = ''

          $.each(response.data, (index, data) => {
          content += '<tr>\
            <td align="center">'+(no++)+'</td>\
            <td>'+(data.nama_pengirim)+'</td>\
            <td>'+(data.nama_penerima)+'</td>\
            <td>'+(data.nama_barang)+'</td>\
            <td>'+(data.nama_jenis_barang)+'</td>\
            <td>'+(data.serial_number)+'</td>\
            <td>'+(data.nama_area)+'</td>\
            <td>'+(data.jumlah)+'</td>\
            <td>'+(data.keterangan)+'</td>\
            <td>'+(data.nama_status)+'</td>\
            <td>'+(new Date(data.tanggal).toLocaleString().split('/').join('-').replace(',', ''))+'</td>'
          })

          table.html(content)
          setDatatable('.datatable')
      })
    }